/*Colors */
/*info card*/
$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
/*borda card social*/
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

/*Dark Theme*/
$ToggleDarkTheme: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$DarkBlue: hsl(230, 17%, 14%);
$VeryDarkBlue: hsl(232, 19%, 15%);
$DarkDesaturatedBlue: hsl(228, 28%, 20%);
$DesaturatedBlue: hsl(228, 34%, 66%);
$White: hsl(0, 0%, 100%);
/*Light Theme*/
$ToggleLightTheme: hsl(230, 22%, 74%);

$VeryPaleBlue: hsl(225, 100%, 98%);
$LightGrayishBlue: hsl(227, 47%, 96%);
$DarkGrayishBlue: hsl(228, 12%, 44%);

/* Font */
$inter: 'Inter', sans-serif;

/* Mixins */
@mixin font-styling($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

/* Social Icons */
.icon-facebook {
    background-image: url(../../img/icon-facebook.svg);
}

.icon-twitter {
    background-image: url(../../img/icon-twitter.svg);
}

.icon-instagram {
    background-image: url(../../img/icon-instagram.svg);
}

.icon-youtube {
    background-image: url(../../img/icon-youtube.svg);
}

/* Color */
.up {
    color: $LimeGreen;
}

.down {
    color: $BrightRed!important;
}

/* Today Count Icons */
.icon-up {
    background-image: url(../../img/icon-up.svg);
}

.icon-down {
    background-image: url(../../img/icon-down.svg);
}