@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import '../2-componentes/1-header';
@import '../2-componentes/2-card-section';
@import '../2-componentes/3-overview-section';

body {
    background-color: $DarkBlue;
    font-family: $inter;
    @include font-styling($White, .875rem, 400);
    padding: 0 1rem;

    &.light {
        background-color: $White;
    }
}

@media screen and (min-width: 375px) {
    body {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 1.5rem;
        padding: 0 .75rem;
    }
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 0;
        width: 80%;
    }
}