@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Colors */
/*info card*/
/*borda card social*/
/*Dark Theme*/
/*Light Theme*/
/* Font */
/* Mixins */
/*Colors */
/*info card*/
/*borda card social*/
/*Dark Theme*/
/*Light Theme*/
/* Font */
/* Mixins */
.header {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.header::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Usamos vw (viewport width) para garantir a largura total */
  height: 255px; /* Ajuste a altura desejada */
  background-color: hsl(232, 19%, 15%);
  z-index: -1;
  border-radius: 0 0 1rem 1rem;
}
.header.light::after {
  background-color: hsl(225, 100%, 98%);
}
.header__branding {
  border-bottom: 1px solid hsl(228, 34%, 66%);
  margin-bottom: 1.5rem;
}
.header__branding.light {
  border-color: DarkGrayishBlue;
}
.header__branding .header__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.header__branding .header__title.light {
  color: hsl(232, 19%, 15%);
}
.header__branding .header__followers {
  color: hsl(228, 34%, 66%);
  font-size: 0.875rem;
  font-weight: 700;
  padding-bottom: 1.75rem;
}
.header__branding .header__followers.light {
  color: hsl(228, 12%, 44%);
}
.header__dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__dark-mode-label {
  color: hsl(228, 34%, 66%);
  font-size: 0.875rem;
  font-weight: 700;
}
.header__dark-mode-label.light {
  color: hsl(230, 22%, 74%);
}
.header__dark-mode-switch {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%) 10%, hsl(146, 68%, 55%) 100%);
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 1.5rem;
  cursor: pointer;
}
.header__dark-mode-switch .checkbox {
  /* Estilização do input checkbox */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: hsl(228, 28%, 20%);
  position: absolute;
  transform: translate(-50%);
  top: 0px;
  left: 8px;
  cursor: pointer;
}
.header__dark-mode-switch .checkbox:checked {
  background-color: hsl(0, 0%, 100%);
  left: 31.4px;
}
.header__dark-mode-switch.light {
  background-image: linear-gradient(to right, hsl(230, 22%, 74%) 10%, hsl(230, 22%, 74%) 100%);
}

@media screen and (min-width: 992px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.75rem;
  }
  .header__branding {
    border-bottom: none;
    margin-bottom: 0;
  }
  .header__branding .header__title {
    color: "";
    font-size: 1.75rem;
    font-weight: 700;
  }
  .header__branding .header__followers {
    padding-bottom: 0;
  }
  .header__dark-mode {
    gap: 0.875rem;
  }
}
/*Colors */
/*info card*/
/*borda card social*/
/*Dark Theme*/
/*Light Theme*/
/* Font */
/* Mixins */
.main .card-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3.25rem;
}
.main .card-section .card {
  background-color: hsl(228, 28%, 20%);
  border-top: 0.25rem solid hsl(208, 92%, 53%);
  border-radius: 0.25rem;
  padding: 1.75rem 0 1.5rem 0;
}
.main .card-section .card.light {
  background-color: hsl(227, 47%, 96%);
}
.main .card-section .card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.75rem;
}
.main .card-section .card__info .card__icon {
  background-image: url(../../img/icon-facebook.svg);
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}
.main .card-section .card__info .card__username {
  color: hsl(228, 34%, 66%);
  font-size: 0.75rem;
  font-weight: 700;
}
.main .card-section .card__info .card__username.light {
  color: hsl(228, 12%, 44%);
}
.main .card-section .card__followers {
  color: hsl(0, 0%, 100%);
  font-size: 3.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.75rem;
}
.main .card-section .card__followers.light {
  color: hsl(232, 19%, 15%);
}
.main .card-section .card__followers-label {
  color: hsl(228, 34%, 66%);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.42rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.main .card-section .card__followers-label.light {
  color: hsl(228, 12%, 44%);
}
.main .card-section .card__today {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.main .card-section .card__today .card__icon {
  background-image: url(../../img/icon-up.svg);
  background-repeat: no-repeat;
  width: 0.5rem;
  height: 0.25rem;
}
.main .card-section .card__today-count {
  color: hsl(227, 47%, 96%);
  font-size: 0.75rem;
  font-weight: 700;
}
.main .card-section .card__today-count.light {
  color: hsl(163, 72%, 41%);
}

@media screen and (min-width: 768px) {
  .main .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .main .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.875rem;
  }
}
/*Colors */
/*info card*/
/*borda card social*/
/*Dark Theme*/
/*Light Theme*/
/* Font */
/* Mixins */
.main .overview-section {
  padding-bottom: 2.75rem;
}
.main .overview-section__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.75rem;
}
.main .overview-section__title.light {
  color: hsl(228, 12%, 44%);
}
.main .overview-section .card__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main .overview-section .card__container .card {
  background-color: hsl(228, 28%, 20%);
  border-radius: 0.25rem;
  padding: 1.5rem;
}
.main .overview-section .card__container .card.light {
  background-color: hsl(227, 47%, 96%);
}
.main .overview-section .card__container .card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.main .overview-section .card__container .card__info .card__label {
  color: hsl(228, 34%, 66%);
  font-size: 0.875rem;
  font-weight: 700;
}
.main .overview-section .card__container .card__info .card__label.light {
  color: hsl(228, 12%, 44%);
}
.main .overview-section .card__container .card__info .card__icon {
  background-image: url(../../img/icon-facebook.svg);
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}
.main .overview-section .card__container .card__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .overview-section .card__container .card__data .card__value {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 700;
}
.main .overview-section .card__container .card__data .card__value.light {
  color: hsl(232, 19%, 15%);
}
.main .overview-section .card__container .card__data .card__change {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.main .overview-section .card__container .card__data .card__change .card__icon {
  background-image: url(../../img/icon-up.svg);
  background-repeat: no-repeat;
  width: 0.5rem;
  height: 0.25rem;
}
.main .overview-section .card__container .card__data .card__change .card__percentage {
  color: hsl(163, 72%, 41%);
  font-size: 0.75rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .main .overview-section {
    padding-bottom: 4.75rem;
  }
  .main .overview-section .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .main .overview-section .card__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.875rem;
  }
}
body {
  background-color: hsl(230, 17%, 14%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 1rem;
}
body.light {
  background-color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 375px) {
  body {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 1.5rem;
    padding: 0 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0;
    width: 80%;
  }
}/*# sourceMappingURL=base.css.map */