@import '../1-base/variaveis';

.header {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Usamos vw (viewport width) para garantir a largura total */
        height: 255px; /* Ajuste a altura desejada */
        background-color: $VeryDarkBlue;
        z-index: -1;
        border-radius: 0 0 1rem 1rem;
    }

    &.light {
        &::after {
            background-color: $VeryPaleBlue;
        }
    }

    &__branding {
        border-bottom: 1px solid $DesaturatedBlue;
        margin-bottom: 1.5rem;

        &.light {
            border-color:  $ToggleLightTheme;
        }

        .header__title {
            @include font-styling($White, 1.5rem, 700);
            margin-bottom: .75rem;

            &.light {
                color: $VeryDarkBlue;
            }
        }

        .header__followers {
            @include font-styling($DesaturatedBlue, .875rem, 700);
            padding-bottom: 1.75rem;

            &.light {
                color: $DarkGrayishBlue;
            }
        }
    }

    &__dark-mode {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-label {
            @include font-styling($DesaturatedBlue, .875rem, 700);

            &.light {
                color: $ToggleLightTheme;
            }
        }
        
        &-switch {
            background-image: linear-gradient(to right, hsl(210, 78%, 56%) 10%, hsl(146, 68%, 55%) 100%);
            display: inline-block;
            position: relative;
            width: 48px;
            height: 24px;
            border-radius: 1.5rem;
            cursor: pointer;

            .checkbox {
                /* Estilização do input checkbox */
                appearance: none;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: $DarkDesaturatedBlue;
                position: absolute;
                transform: translate(-50%);
                top: 0px;
                left: 8px;
                cursor: pointer;

                &:checked {
                    background-color: $White;
                    left: 31.4px;
                }
            }

            &.light {
                background-image: linear-gradient(to right, $ToggleLightTheme 10%, $ToggleLightTheme 100%);

                &:hover {
                    background-image: linear-gradient(to right, hsl(210, 78%, 56%) 10%, hsl(146, 68%, 55%) 100%);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.75rem;

        &__branding {   
            border-bottom: none;
            margin-bottom: 0;

            .header__title {
                @include font-styling('', 1.75rem, 700);
            }
    
            .header__followers {
                padding-bottom: 0;
            }
        }
    
        &__dark-mode {
            gap: .875rem;
        }
    }
}