@import '../1-base/variaveis';

.main {
    .overview-section {
        padding-bottom: 2.75rem;

        &__title {
            @include font-styling($White, 1.5rem, 700);
            margin-bottom: 1.75rem;

            &.light {
                color: $DarkGrayishBlue;
            }
        }

        .card__container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card {
                background-color: $DarkDesaturatedBlue;
                border-radius: .25rem;
                padding: 1.5rem;

                &.light {
                    background-color: $LightGrayishBlue;
                }

                &__info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;

                    .card__label {
                        @include font-styling($DesaturatedBlue, .875rem, 700);

                        &.light {
                            color: $DarkGrayishBlue;
                        }
                    }

                    .card__icon {
                        background-image: url(../../img/icon-facebook.svg);
                        background-repeat: no-repeat;
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }

                &__data {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .card__value {
                        @include font-styling($White, 2rem, 700);

                        &.light {
                            color: $VeryDarkBlue;
                        }
                    }

                    .card__change {
                        display: flex;
                        align-items: center;
                        gap: .125rem;

                        .card__icon {
                            background-image: url(../../img/icon-up.svg);
                            background-repeat: no-repeat;
                            width: .5rem;
                            height: .25rem;
                        }

                        .card__percentage {
                            @include font-styling($LimeGreen, .75rem, 700);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        .overview-section {
            padding-bottom: 4.75rem;

            .card__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main {
        .overview-section {
            padding-bottom: 0px;

            .card__container {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1.875rem;
            }
        }
    }
}